name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build APK with Buildozer
      uses: kivy/buildozer-action@v1
      with:
        workdir: .
        buildozer_version: stable
        command: buildozer android debug
